* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Black';
    src: url(../assets/fonts/MEGPHIS.otf)
}

body {
    align-items: center;
    background: url("../assets/img/fondoTelefono.jpeg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-family:"Black", sans-serif;
    height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
}

.box-social {
    align-items: center;
    color: rgb(206, 195, 179);
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0.2vw solid rgb(206, 195, 179);
    color: rgb(206, 195, 179);
    font-family:"Black", sans-serif;
    font-size: 3.5vw;
    width: 25vw;
}

#container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid;
    color: rgb(206, 195, 179);
    display: flex;
    flex-direction: column;
    font-size: 6vw;
    height: 33vh;
    justify-content: space-evenly;
    width: 90vw;
}

footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(206, 195, 179);
    display: flex;
    height: 11vh;
    justify-content: center;
    width: 100vw;
}

.hidden {
    display: none;
}

header {
    border: solid;
    color: rgb(206, 195, 179);
    font-size: 3vw;
    margin-top: 7vw;
}

#info-personal {
    align-items: center;
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    height: 11vh;
    justify-content: space-evenly;
    width: 50vw;
}

.input_divisa {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 195, 179);
    font-family:"Black", sans-serif;    
    width: 15vw;
}

.logo {
    width: 3vw;
}

#msg_error {
    display: flex;
    text-align: center;
}

#resultado {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3.5vw;
}

#redes-sociales {
    align-items: center;
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    height: 11vh;
    justify-content: space-evenly;
    width: 50vw;
}

@media (min-width: 481.98px) {
    body {
        background-image: url(../assets/img/fondoTablet2.jpeg);
    }

    #container {
        border: none;
        font-size: 4.5vw;
        height: 45vh;
        text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
    }

    header {
        background-color: rgba(255, 255, 255, 0.27);
        border: none;
    }

    header h1 {
        background: linear-gradient(to top, #000000, #902580);
        border: none;
        font-size: 6vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .box-social {
        width: 28vw;
    }

    .logo {
        width: 2vw;
    }

    #info-personal {
        font-size: 1.6vw;
    }

    #redes-sociales {
        font-size: 1.6vw;
    }   
}

@media (min-width: 768.98px) {

    body {
        background-image: url("../assets/img/fondoLaptop.jpeg");
    }

    .box-social {
        width: 16vw;
    }
    
    button {
        font-size: 2vw;
        width: 15vw;
    }
    
    #container {
        font-size: 2.5vw;
        width: 50vw;
    }
    
    footer {
        height: 8vh;
    }
    
    header {
        background-color: rgba(255, 255, 255, 0.1);
        margin-top: 1vw;
    }
    
    .input_divisa {
        font-size: 2vw;
        height: 6vh;
        width: 10vw;
    }
    
    #info-personal {
        flex-direction: row;
        font-size: 0.9vw;
    }
    
    .logo {
        width: 1.7vw;
    }
    
    #redes-sociales {
        display: flex;
        flex-direction: row;
        font-size: 1vw;
        justify-content: space-around;
    }
    
    #resultado {
        font-size: 2.5vw;
    }
}